<!DOCTYPE html>
<html>
  <head>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>

  <body>
    <h1>Bem Vindo, <%= nome %></h1>

    <table>
      <tr>
        <th>Matéria</th>
        <th>Professor</th>
        <th>Data Limite</th>
        <th>Ação</th>
      </tr>
      <% for(var i=0; i < prova.length; i++) { %>
      <tr>
        <td><%= prova[i].materia %></td>
        <td><%=prova[i].prof %></td>
        <td><%=prova[i].dataLimite %></td>
        <td>
          <% if (provasDisponiveis[i]) { %>
          <button
            id="<%=prova[i].id %>"
            onclick="window.location.href='/provasegundachamada/<%=prova[i].id %>'"
            type="button"
          >
            Solicitar
          </button>
          <% } %><% if (!provasDisponiveis[i]) { %>
          <button id="<%=prova[i].id %>" type="button" disabled>
            Indisponível
          </button>
          <% } %>
        </td>
      </tr>
      <% } %>
    </table>
    <div id="mensagemdeerro"></div>
  </body>
</html>
